<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="sam-share-from-gallery"
        version="0.0.40">
  <name>SAM Share from Gallery plugin</name>
  <description>SAM Share from Gallery plugin</description>
  <license>HP License</license>
  <keywords>Share,apps</keywords>
  <repo>https://github.com/agomezmoron/sam-share-from-gallery.git</repo>
  <issue>https://github.com/agomezmoron/sam-share-from-gallery/issues</issue>

  <!-- android -->
  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
        <!--<action android:name="SHARE_TO_HM" />-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
      </intent-filter>
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">

    <!-- Copying icons -->
<!--    <resource-file src="src/ios/resources/icon/icon-22x29.png" />-->
<!--    <resource-file src="src/ios/resources/icon/icon-44x58.png" />-->
<!--    <resource-file src="src/ios/resources/icon/icon-64x64.png" />-->
<!--    <resource-file src="src/ios/resources/icon/icon-320x320.png" />-->

    <!-- Config Group Files  -->
<!--
    <config-file src="src/ios/archived-expanded-entitlements.xcent" />
    <resource-file src="src/ios/build-debug.xcconfig" />
    <resource-file src="src/ios/build-release.xcconfig" />
    <resource-file src="src/ios/build.xcconfig" />
    <resource-file src="src/ios/Settings.bundle" />
-->
    
<!--
    <framework src="src/ios/Frameworks/libswiftContacts.dylib" target="Frameworks/libswiftContacts.dylib"/>
    <framework src="src/ios/Frameworks/libswiftCore.dylib" target="Frameworks/libswiftCore.dylib" />
    <framework src="src/ios/Frameworks/libswiftCoreGraphics.dylib" target="Frameworks/libswiftCoreGraphics.dylib" />
    <framework src="src/ios/Frameworks/libswiftCoreImage.dylib" target="Frameworks/libswiftCoreImage.dylib" />
    <framework src="src/ios/Frameworks/libswiftDarwin.dylib" target="Frameworks/libswiftDarwin.dylib" />
    <framework src="src/ios/Frameworks/libswiftDispatch.dylib" target="Frameworks/libswiftDispatch.dylib" />
    <framework src="src/ios/Frameworks/libswiftFoundation.dylib" target="Frameworks/libswiftFoundation.dylib" />
    <framework src="src/ios/Frameworks/libswiftObjectiveC.dylib" target="Frameworks/libswiftObjectiveC.dylib" />
-->
<!--
    <source-file src="src/ios/Frameworks/libswiftContacts.dylib" />
    <source-file src="src/ios/Frameworks/libswiftCore.dylib" custom="true" />
    <source-file src="src/ios/Frameworks/libswiftCoreGraphics.dylib" custom="true" />
    <source-file src="src/ios/Frameworks/libswiftCoreImage.dylib" custom="true" />
    <source-file src="src/ios/Frameworks/libswiftDarwin.dylib" custom="true" />
    <source-file src="src/ios/Frameworks/libswiftDispatch.dylib" custom="true" />
    <source-file src="src/ios/Frameworks/libswiftFoundation.dylib"  custom="true" />
    <source-file src="src/ios/Frameworks/libswiftObjectiveC.dylib" custom="true" />
-->
      
<!--
    <resource-file src="src/ios/Plugins/fromGallery.appex/_CodeSignature/CodeResources" 
                   target="Plugins/fromGallery.appex/_CodeSignature/CodeResources" />
    <config-file src="src/ios/Plugins/fromGallery.appex/archived-expanded-entitlements.xcent" 
                   parent="Plugins/fromGallery.appex" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/Assets.car" 
                   target="Plugins/fromGallery.appex/Assets.car" />
    <config-file src="src/ios/Plugins/fromGallery.appex/Base.lproj/MainInterface.storyboardc/Info.plist" 
                   parent="Plugins/fromGallery.appex/Base.lproj/MainInterface.storyboardc" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/Base.lproj/MainInterface.storyboardc/j1y-V4-xli-view-wbc-yd-nQP.nib" 
                   target="Plugins/fromGallery.appex/" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/Base.lproj/MainInterface.storyboardc/UIViewController-j1y-V4-xli.nib" 
                   target="Plugins/fromGallery.appex/Base.lproj/MainInterface.storyboardc/j1y-V4-xli-view-wbc-yd-nQP.nib" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/embedded.mobileprovision" 
                   target="Plugins/fromGallery.appex/embedded.mobileprovision" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/fromGallery" 
                   target="Plugins/fromGallery.appex/fromGallery" />
    <resource-file src="src/ios/Plugins/fromGallery.appex/Hubmedia.entitlements" 
                   target="Plugins/fromGallery.appex/Hubmedia.entitlements" />
    <config-file src="src/ios/Plugins/fromGallery.appex/Info.plist" 
                   target="Plugins/fromGallery.appex" />
      
    <resource-file src="src/ios/Settings.bundle/.me.apla.apppreferences" target="Settings.bundle/.me.apla.apppreferences" />
    <resource-file src="src/ios/Settings.bundle/en.lproj/Root.strings" target="Settings.bundle/en.lproj/Root.strings" />
    <resource-file src="src/ios/Settings.bundle/Root.plist" target="Settings.bundle/en.lproj/Root.plist" />
-->

    <!-- Copying additional iOS files -->
<!--
    <source-file src="src/ios/Media.xcassets/Contents.json" target-dir="HubMedia/Media.xcassets/Contents.json" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/Contents.json" target-dir="HubMedia/Media.xcassets/no-image.imageset/Contents.json" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available-1.png" target-dir="HubMedia/Media.xcassets/no-image.imageset/no-image-available-1.png" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available-2.png" target-dir="HubMedia/Media.xcassets/no-image.imageset/no-image-available-2.png" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available.png" target-dir="HubMedia/Media.xcassets/no-image.imageset/no-image-available.png" />
-->

    <!-- Copying header files -->
<!--    <header-file src="src/ios/HubMedia-Bridging-Header.h" target-dir="HubMedia"/>-->


    <!-- Copying the source files -->
<!--
    <source-file src="src/ios/Collection.swift" target-dir="HubMedia"/>
    <source-file src="src/ios/CollectionCell.swift" target-dir="HubMedia"/>
    <source-file src="src/ios/ImageCell.swift" target-dir="HubMedia"/>
    <source-file src="src/ios/ImageExtension.swift" target-dir="HubMedia"/>
    <source-file src="src/ios/ShareViewController.swift" target-dir="HubMedia"/>

    <resource-file src="src/ios/Base.lproj/MainInterface.storyboard" target="HubMedia/Base.lproj/MainInterface.storyboard" />

        <resource-file src="src/ios/PlugIns" target="PlugIns" />
        <resource-file src="src/ios/Settings.bundle" target="Settings.bundle" />
    -->
      
      <!-- Config Group Files  -->
<!--    <resource-file src="src/ios/archived-expanded-entitlements.xcent" />-->

    <!-- Copying additional iOS files -->
<!--
    <source-file src="src/ios/Media.xcassets/Contents.json" target-dir="fromGallery/Media.xcassets/Contents.json" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/Contents.json" target-dir="fromGallery/Media.xcassets/no-image.imageset/Contents.json" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available-1.png" target-dir="fromGallery/Media.xcassets/no-image.imageset/no-image-available-1.png" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available-2.png" target-dir="fromGallery/Media.xcassets/no-image.imageset/no-image-available-2.png" />
    <source-file src="src/ios/Media.xcassets/no-image.imageset/no-image-available.png" target-dir="fromGallery/Media.xcassets/no-image.imageset/no-image-available.png" />
-->

    <!-- Copying header files -->
<!--    <header-file src="src/ios/HubMedia-Bridging-Header.h" target-dir="HubMedia"/>-->


    <!-- Copying the source files -->
<!--
    <source-file src="src/ios/Collection.swift" target-dir="fromGallery"/>
    <source-file src="src/ios/CollectionCell.swift" target-dir="fromGallery"/>
    <source-file src="src/ios/ImageCell.swift" target-dir="fromGallery"/>
    <source-file src="src/ios/ImageExtension.swift" target-dir="fromGallery"/>
    <source-file src="src/ios/ShareViewController.swift" target-dir="fromGallery"/>

    <resource-file src="src/ios/Base.lproj/MainInterface.storyboard" target="fromGallery/Base.lproj/MainInterface.storyboard" />
-->

<!--    <resource-file src="src/ios/PlugIns" target="PlugIns" />-->
<!--    <resource-file src="src/ios/Settings.bundle" target="Settings.bundle" />-->

  </platform>
</plugin>
